#session-language {
    margin: 8px 15px 0 20px;
}

#session-language-dropdown {
    margin: 13px 15px 0 0;
}

#session-language-dropdown li {
    position: relative;
}

.selected-session-language {
    position: absolute;
    top: 6px;
    left: 4px;
}

#captcha {
    width: 100px !important;
    display: inline-block !important;
}

.page-header h1{

    font-size: 14px;
}

@media (max-width:767px) {
    #session-language {
        margin: 12px 0 0 15px;
    }
}

/* Edit Bajhoe */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    //color: #333;
    background-color: #fcf4f4;
}

.panel-default > .panel-heading {
    background-image: -webkit-linear-gradient(top,#f7f7f7 0,#dbdbdb 100%);
    background-image: -o-linear-gradient(top,#f7f7f7 0,#dbdbdb 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#dbdbdb));
    background-image: linear-gradient(to bottom,#f7f7f7 0,#dbdbdb 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}


.page-header{
    margin: 10px 0 10px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 8px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: inset 0 3px 0 rgba(255,255,255,.50),0 2px 7px rgba(0,0,0,.150);
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: 0px 0px 0.5px grey;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    text-shadow: 0px 0px 0.2px grey;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-shadow: 0px 0px 1px grey;
}

a {
    text-shadow: 0px 0px 0.2px grey;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-shadow: 0px 0px 0.2px grey;
   // font-size: 12px;
}

.page-header {
    //padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    //padding-bottom: 2px;
    margin: 5px 0 20px;
    border-bottom: 1px solid #eee;
    //box-shadow: 0px 0px 0.5px grey;

}

.select2-selection--single {
  height: 100% !important;
}
.select2-selection__rendered{
  word-wrap: break-word !important;
  text-overflow: inherit !important;
  white-space: normal !important;
}

//=========================
@media print 
{
body {
    background-color: #6c3b3b;
        }

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    text-shadow: 0px 0px 0.2px grey;
}
.page-header h1{

    font-size: 14px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-shadow: 0px 0px 1px grey;
}

a {
    text-shadow: 0px 0px 0.2px grey;
}

}

tbody img {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0px;
    width: 150px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

